@media only screen and (max-width:1067px){

.navigation2{
  display: none;
}

}

body{
  margin: auto;
  background-color: black;
  font-family: sans-serif;
  color: white;
  font-family: 'Teko', sans-serif;
}

h6{
  font-size: 15px;
}

a:active{
  color: white;
}

a:visited{
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

ul{
  list-style-type: none;
  border-style: solid;
  border-color: black black #FFFF black;
}


#cabecera{
  border-style: solid;
  border-color: black black #FFFF black;
  height: 80px;
  width: 100%;
  color: white;
  display: none;
}

.texto{
  display: none;
  font-family: 'Cairo', sans-serif;
}

#pie{
  border-style: solid;
  border-color: #FFFF black black black;
  height: 80px;
  width: 100%;
  color: white;
}

#video{
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 60px white;
  display: none;
}

#floater{
  float: left;
}

#imagen{
  margin-top: 50px;
  background-color: lightsalmon;
  width: 100%;
  height: 200px;
  box-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;
  display: none;
}

#titulos{
  display: none;
}

  .navigation2{
    margin:0;
    padding:0;
    list-style:none;
    margin-top: 20px;
    margin-right: 50px;
    text-align: center;
    display: none;
    border-style: solid;
  }

  input#abrir-cerrar {
      visibility:hidden;
      position: absolute;
      top: -9999px;
  }

  .toggle-button {
      display:inline-block;
      width:40px;
      height:40px;
      border:1px solid white;
      position:relative;
      cursor: pointer;
      box-sizing: border-box;
      float: right;
      margin: 15px;
      margin-right: 40px;
  }

  .toggle-button:before, .toggle-button:after {
        position:absolute;
        display:inline-block;
        content:" ";
        width: calc(100% / 2);
        box-sizing: border-box;
        left: calc(100% / 4);
        transition: all 0.2s ease-out;
    }

    .toggle-button:before {
        top: calc(100% / 4);
        height:calc(100% / 4);
        border-top:1px solid white;
        border-bottom:1px solid white;
        background-color: transparent;
    }

    .toggle-button:after {
        height:1px;
        background-color:white;
        bottom:calc(100% / 4);
    }

    input#abrir-cerrar:checked + .toggle-button:before, input#abrir-cerrar:checked + .toggle-button:after {
            top:calc(100% / 2);
            height:1px;
            border-bottom:0;
        }

        input#abrir-cerrar:checked + .toggle-button:before {
            transform: rotate(45deg);
        }

        input#abrir-cerrar:checked + .toggle-button:after {
            transform: rotate(-45deg);
        }

        .abrir, .cerrar {
                position:absolute;
                top:0;
                right:0;
                bottom:0;
                left:0;
            }

            .abrir {
                display:inline-block;
            }

            .cerrar {
                display:none;
            }

            input#abrir-cerrar:checked + .toggle-button .abrir {
                display:none;
            }

            input#abrir-cerrar:checked + .toggle-button .cerrar {
                display:block;
            }

#expandir{
  background-color: black;
  width: 120px;
  height: 170px;
  font-size: 25px;
  border-style: solid;
  border-color: #FFFF #FFFF #FFFF #FFFF;
  margin-top: 40px;
  float: right;
}

.contact_form{
  width: 260px;
  height: auto;
  margin: 80px auto;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: black;
  padding-left: 30px;
  border-style: solid;
  border-color: #FFFF #FFFF #FFFF #FFFF;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
  display: none;
}


input{
  background-color: #fbfbfb;
  width: 208px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}


textarea{
  background-color: #fbfbfb;
  width: 205px;
  height: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}


label{
  display: block;
  float: center;
  color: white;
  font-size: 25px;
  text-shadow: 0 0 4px white, 0 0 8px white, 0 0 10px white;
}


button{
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: red;
  border-color: white;
  border-style: solid;
  width: 220px;
  cursor: pointer;
  box-shadow: 0 0 5px red, 0 0 8px red, 0 0 10px red;
}


button p{
  color: white;
}


span{
  color: red;
}


.aviso{
  font-size: 13px;
  color: #0e0e0e;
}


h1{
  font-size: 39px;
  text-align: letf;
  color: white;
  text-shadow: 0 0 10px red, 0 0 40px red, 0 0 60px red;
}


h3{
  font-size: 16px;
  padding-bottom: 30px;
  color: white;
}

h2{
  font-size: 15px;
}

p{
  font-size: 14px;
  color: white;
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

.obligatorio{
  color: white;
}
