@media only screen and (min-width:1068px){

#expandir{
  display: none;
}

#abrir-cerrar{
  display: none;
}

.abrir-cerrar{
  display: none;
}

#video{
  height: 700px;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white;
}

#logo{
  height: 80px;
  width: 200px;
}

#logo:hover{
  background-image: url(img/itadakimasu-brillo.png);
  background-size: 200px 80px;
}

h6{
  width: 700px;
  line-height: 20px;
  font-size: 20px;
}

}

body{
  margin: auto;
  background-color: black;
  font-family: sans-serif;
  color: white;
  font-family: 'Teko', sans-serif;
}

label{
  display: none;
}

a:active{
  color: white;
}

a:visited{
  color: white;
}

a{
  color: white;
  text-decoration: none;
}


#cabecera{
  border-style: solid;
  border-color: black black #FFFF black;
  height: 80px;
  width: 100%;
  color: white;
  font-size: 20px;
}

#pie{
  border-style: solid;
  border-color: #FFFF black black black;
  height: 80px;
  width: 100%;
  color: white;
}

#floater{
  float: left;
}


.navigation2{
  margin:0;
  padding:0;
  list-style:none;
  text-align: center;
  display: inline-grid;
  border-style: solid;
  }

  .navigation2 li{
    float:left;
    width:200px;
    position:relative;
    margin: 10px;
    font-size: 25px;
    margin-right: 10px;
    }

    .navigation2 li a:hover{
      text-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
    }


    .navigation2 li a{
    color:#fff;
    display: inline;
    padding:8px 7px 8px 7px;
    text-decoration:none;
    text-align:center;
    text-transform:uppercase;
    float: right;
    }

    .navigation2 ul{
    position:absolute;
    right:0;
    margin:0 0 0 -1px;
    padding:0;
    list-style:none;
    width: 1100px;
    }
