@media only screen and (min-width:1068px){

#expandir{
  display: none;
}

#abrir-cerrar{
  display: none;
}

.abrir-cerrar{
  display: none;
}

#video{
  display: none;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 60px white;
  height: 700px;
}

#logo{
  height: 80px;
  width: 200px;
}

#logo:hover{
  background-image: url(../img/itadakimasu-brillo.png);
  background-size: 200px 80px;
}

h6{
  width: 700px;
  line-height: 20px;
  font-size: 20px;
}

}

body{
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: sans-serif;
  color: white;
  font-family: 'Teko', sans-serif;
}

a:active{
  color: white;
}

a:visited{
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

#cabecera{
  border-style: solid;
  border-color: black black #FFFF black;
  height: 80px;
  width: 100%;
  color: white;
  font-size: 20px;
  display: none;
}

#texto{
  display: none;
  font-family: 'Cairo', sans-serif;
}

#pie{
  border-style: solid;
  border-color: #FFFF black black black;
  height: 80px;
  width: 100%;
  color: white;
}

#floater{
  float: left;
}

.links{
  margin: 0;
  padding: 0;
  text-shadow: 0 0 10px red, 0 0 20px red, 0 0 60px red;
  margin-left: 90%;
  position: absolute;
  font-size: 30px;
}

.links:hover{
  text-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
  transition: 1s;
}

.navigation2{
  margin:0;
  padding:0;
  list-style:none;
  text-align: center;
  display: inline-grid;
  }

  .navigation2 li{
    float:left;
    width:200px;
    position:relative;
    margin: 10px;
    font-size: 25px;
    margin-right: 10px;
    display: none;
    }

    .navigation2 li a:hover{
      text-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
      transition: 1s;
    }


    .navigation2 li a{
    color:#fff;
    display: inline;
    padding:8px 7px 8px 7px;
    text-decoration:none;
    text-align:center;
    text-transform:uppercase;
    float: right;
    }

    .navigation2 ul{
    position:absolute;
    right:0;
    margin:0 0 0 -1px;
    padding:0;
    list-style:none;
    width: 1100px;
    }



    .slider {
      box-sizing: border-box;
      background: black;
      width: 100vw;
      height: 47vh;
      margin-top: 150px;
      overflow: hidden;
      box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
      margin-bottom: 170px;
      display: none;
    }

    .parallax{
      text-shadow: 0 0 10px white, 0 0 20px white, 0 0 60px white;
      -webkit-text-stroke: 1px black;
    }

    .slider .slides-container {
      display: flex;
      width: 100%;
      height: 400px;
      cursor: -webkit-grab;
      cursor: grab;
      transition: transform .5s;
    }

    .slider:active .slides-container {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }

    .slider .slides-container.moving {
      transition: none;
    }
    .slider .slides-container.moving .slide {
      transition: none;
    }
    .slider .slides-container.moving .parallax {
      transition: none;
    }

    .slider .slide {
      position: relative;
      display: block;
      width: 100%;
      height: 400px;
      background: #1abc9c;
      opacity: .8;
      transform: scale(.9);
      transform-origin: center;
      transition: transform .5s, opacity .5s;
    }

    .slider .slide.current {
      opacity: 1;
      transform: scale(1);
    }

    .slider .slide .parallax {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 400px;
      opacity: 0;
      pointer-events: none;
      transition: transform .5s, opacity .5s;
    }

    .slider .slide.current .parallax {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    .slider .slide .parallax p {
      position: absolute;
      top: 20%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      text-align: center;
      color: white;
      font-family: Circular, sans-serif;
      font-size: 3em;
    }


    .slider .slide:nth-child(6n+1) {
      background: url(../img/PP/sushi.jpg);
      background-repeat: no-repeat;
      background-size: 900px;
      background-position: center;
    }

    .slider .slide:nth-child(6n+2) {
      background: url(../img/PP/fideos.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .slider .slide:nth-child(6n+3) {
      background: url(../img/PP/ternera.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
